@model BlueGeeks.Models.PlayerStatistics

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>PlayerStatistics</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FgPercent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FgPercent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FtPercent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FtPercent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ThreePointersMade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ThreePointersMade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PointsMade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PointsMade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rebounds)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rebounds)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Assists)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Assists)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Steals)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Steals)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Blocks)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Blocks)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TurnOvers)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TurnOvers)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Player_Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Player_Id)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Player_Statistics_Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
