@model IEnumerable<BlueGeeks.Models.PlayerStatistics>

@{
    ViewData["Title"] = "Player Statistics";
}
<div id="Ajax">
    <h1>Player Statistics</h1>

    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
    {
        <p>
            <a asp-action="Create" method="post" data-ajax="true" data-ajax-method="POST" data-ajax-update="#Ajax">Create New</a>
        </p>
    }


    <table class="table" id="playerstatistics">
        <thead>
			<tr>
				<th>
					Player Name
				</th>
				<th>
					@Html.DisplayNameFor(model => model.FgPercent)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.FtPercent)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.ThreePointersMade)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.PointsMade)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.Rebounds)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.Assists)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.Steals)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.Blocks)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.TurnOvers)
				</th>
				<th>
					Options
				</th>
			</tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Player_.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FgPercent)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FtPercent)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ThreePointersMade)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PointsMade)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rebounds)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Assists)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Steals)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Blocks)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TurnOvers)
                </td>

                <td>
                    <a asp-action="Edit" asp-route-id="@item.Player_Statistics_Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Player_Statistics_Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Player_Statistics_Id">Delete</a>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>



@section scripts
{
    <script>
        $(document).ready(function () {

            var table = $("#playerstatistics").DataTable({
                'bPaginate': false,
                'columnDefs': [
                {
                    'searchable'    : false,
                    'targets'       : [1,2,3,4,5,6,7,8,9,10]
                },
            ]
            });
            $('div.dataTables_filter label').addClass('control-label');
            $('div.dataTables_filter input').addClass('form-control');
        });
    </script>
}