@model BlueGeeks.Models.Matches

@{
    ViewData["Title"] = "Details";
}
<div class="bg">
    <h1>Details</h1>

    <div>
        <h4>Matches</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.HomeTeam_Id)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.HomeTeam_.Team_Name)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.AwayTeam_Id)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.AwayTeam_.Team_Name)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.MatchDate)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.MatchDate)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Stadium_Id)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Stadium_.StadiumName)
            </dd>
        </dl>
    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.Matche_Id">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </div>
</div>