@model IEnumerable<BlueGeeks.Models.Matches>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.HomeTeam_Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AwayTeam_Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MatchDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stadium_Id)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.HomeTeam_.Team_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AwayTeam_.Team_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MatchDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stadium_.StadiumName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Matche_Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Matche_Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Matche_Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
